*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  margin-left: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 280px) {
  .navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .navigation-bar ul {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    position: fixed;
    top: 0px;
    padding: 20px 20px;
    width: 250px;
    min-height: 100%;
    background-color: #F1F1E6;
    border-right: 2px solid #00112B;
  }
  .navigation-bar ul {
    display: block;
  }
}

.navigation-bar .logo-wrapper {
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 280px) {
  .navigation-bar .logo-wrapper {
    border: 5px solid #F1F1E6;
  }
}

@media screen and (min-width: 992px) {
  .navigation-bar .logo-wrapper {
    border: 5px solid #00112B;
  }
}

.navigation-bar .logo-wrapper .logo {
  font-weight: 700;
}

@media screen and (min-width: 280px) {
  .navigation-bar .logo-wrapper .logo {
    font-size: 3.5rem;
    padding: .25rem .5rem;
    color: #F1F1E6;
  }
}

@media screen and (min-width: 992px) {
  .navigation-bar .logo-wrapper .logo {
    padding: 0.5rem 1rem;
    font-size: 5rem;
    color: #00112B;
  }
}

@media screen and (min-width: 280px) {
  .navigation-bar .nav-links-wrapper {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navigation-bar .nav-links-wrapper {
    display: block;
    margin-left: 1rem;
  }
}

.navigation-bar ul {
  list-style-type: none;
}

.navigation-bar ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navigation-bar ul li a {
  color: #005189;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
}

.navigation-bar ul li a::after {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #00112B;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.navigation-bar ul li a:hover {
  color: #00112B;
}

.navigation-bar ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media screen and (min-width: 992px) {
  .burger-wrapper {
    display: none;
  }
}

.socials-wrapper {
  margin-left: 1rem;
  padding: 1rem .25rem 1rem 0;
  border-top: 5px solid #00112B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials-wrapper a {
  text-decoration: none;
}

@media screen and (min-width: 280px) {
  .socials-wrapper a .fa-github {
    margin: 1rem;
    color: #F1F1E6;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .socials-wrapper a .fa-github {
    margin-right: .5rem;
    color: #005189;
    font-size: 2rem;
  }
}

.socials-wrapper a .fa-github:hover {
  color: #00112B;
}

@media screen and (min-width: 280px) {
  .socials-wrapper a .fa-twitter {
    margin: 1rem;
    color: #F1F1E6;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .socials-wrapper a .fa-twitter {
    margin-right: .5rem;
    color: #005189;
    font-size: 2rem;
  }
}

.socials-wrapper a .fa-twitter:hover {
  color: #55acee;
}

@media screen and (min-width: 280px) {
  .socials-wrapper a .fa-linkedin-in {
    margin: 1rem;
    color: #F1F1E6;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .socials-wrapper a .fa-linkedin-in {
    margin-right: .5rem;
    color: #005189;
    font-size: 2rem;
  }
}

.socials-wrapper a .fa-linkedin-in:hover {
  color: #0077B5;
}

#burger-icon span {
  display: block;
  margin: 4px;
  height: 9px;
  width: 60px;
  background: #F1F1E6;
  border-radius: 9px;
}

#burger-menu:checked ~ #burger-icon span:nth-child(1) {
  -webkit-transform: rotate(135deg) translate(21px, -13px);
  transform: rotate(135deg) translate(21px, -13px);
}

#burger-menu:checked ~ #burger-icon span:nth-child(2) {
  opacity: 0;
}

#burger-menu:checked ~ #burger-icon span:nth-child(3) {
  -webkit-transform: rotate(-135deg) translate(3px);
  transform: rotate(-135deg) translate(3px);
}

input[type="checkbox"] {
  display: none;
}

.hero-wrapper {
  height: 100vh;
  width: auto;
  background-image: url(/img/hero-cube-1800x1012.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-wrapper .scroll-down {
  text-decoration: none;
  margin-bottom: 2rem;
}

.hero-wrapper .scroll-down .scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.hero-wrapper .scroll-down .scroll-wrapper:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.hero-wrapper .scroll-down .scroll-wrapper h1 {
  color: #F1F1E6;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero-wrapper .scroll-down .scroll-wrapper i {
  color: #F1F1E6;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.cards-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  width: 500px;
  height: 350px;
  border-radius: 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5rem 2rem 5rem 2rem;
}

.row-one .html-css {
  background-image: url(/img/camerasilhouette600x400.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.row-one .html-css:hover {
  opacity: 80%;
}

.row-one .axure {
  background-image: url(/img/desk700x394.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.row-one .axure:hover {
  opacity: 80%;
}

.row-one .project-three {
  background-image: url(/img/keyboard600x400.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.row-one .project-three:hover {
  opacity: 80%;
}

.row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2rem 2rem 2rem;
}

.row-two .project-four {
  background-image: url(/img/web600x400.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.row-two .project-four:hover {
  opacity: 80%;
}

.row-two .project-five {
  background-image: url(/img/spookydude600x400.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.row-two .project-five:hover {
  opacity: 80%;
}

.row-two .project-six {
  background-image: url(/img/devices600x400.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.row-two .project-six:hover {
  opacity: 80%;
}

.contact-wrapper {
  height: 90vh;
  border: 1px solid orange;
}
/*# sourceMappingURL=style.css.map */