*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-bar {
  background-color: #F1F1E6;
}

@media screen and (min-width: 300px) {
  .navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .navigation-bar ul {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: 20px 20px;
    width: 20%;
    min-height: 100%;
  }
  .navigation-bar ul {
    display: block;
  }
}

.navigation-bar .logo-wrapper .logo {
  font-size: 5rem;
  font-weight: 700;
  color: #00112B;
}

@media screen and (min-width: 300px) {
  .navigation-bar .nav-links-wrapper {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navigation-bar .nav-links-wrapper {
    display: block;
  }
}

.navigation-bar ul {
  list-style-type: none;
}

.navigation-bar ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navigation-bar ul li a {
  color: #005189;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
}

.navigation-bar ul li a::after {
  content: '';
  width: 90%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 5%;
  background: #00112B;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.navigation-bar ul li a:hover {
  color: #00112B;
}

.navigation-bar ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.socials-wrapper {
  border-top: 5px solid #00112B;
}

.hero-wrapper {
  height: 100vh;
  background-image: url(/img/hero-cube-1800x1012.jpg);
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards-wrapper {
  height: 90vh;
  border: 1px solid blue;
}

.contact-wrapper {
  height: 90vh;
  border: 1px solid orange;
}
/*# sourceMappingURL=style.css.map */