.cards-wrapper { //Main wrapper for the cards section, decides how sections of 3 cards are laid out
    @media screen and (min-width: $break-xxs) { //Extra-extra Small
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: $break-sm) { //Small
        flex-direction: row;
        justify-content: space-between;
    }
    @media screen and (min-width: $break-md) { //Medium
        flex-wrap: wrap;
    }
    @media screen and (min-width: $break-lg) { //large
        flex-direction: column;
        height: 50vh;
    }
    @media screen and (min-width: $break-xl) {
        height: 120vh;
        justify-content: space-evenly;
    }
    @media screen and (min-width: 1600px) {
        height: 80vh;
    }
}
.card {
    @media screen and (min-width: $break-xxs) { //Extra-extra Small
        height: 150px;
        margin: .25rem;
        border-radius: 1rem;
    }
    @media screen and (min-width: $break-md) { //Medium
        margin: 1rem;
    }
    @media screen and (min-width: $break-lg) { //large
        border-radius: 2rem;
        margin: .75rem;
    }
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
        cursor: pointer;
        .overlay,
        h2,
        p {
            visibility: visible;
            opacity: 1;
        }
    }
    a {
        text-decoration: none;
        color: $dark-blue;
    }
    .overlay {
        flex: 1 0 250px;
        @media screen and (min-width: $break-xxs) { //Extra-extra Small
            width: 100%;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            visibility: visible;
            background-color: rgba(211,211,211,.7);
            p {
                text-align: center;
            }
        }
        @media screen and (min-width: $break-lg) { //large
            border-radius: 2rem;
            visibility: none;
            opacity: 0;
            transition: opacity 0.3s;
            background-color: rgba(211,211,211,.9);
            &:hover {
                visibility: visible;
                opacity: 1;
            }
            p {
                text-align: left;
            }
        }
        h2 {
            text-transform: uppercase;
        }
    }
}

.html-css {
    width: 250px;
    height: 150px;
    background-image: url(/img/camerasilhouette250x167.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 1;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/camerasilhouette600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.axure {
    width: 250px;
    height: 150px;
    background-image: url(/img/desk250x141.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 2;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/desk700x394.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.project-three {
    width: 250px;
    height: 150px;
    background-image: url(/img/keyboard250x167.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 3;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/keyboard600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}

.project-four {
    width: 250px;
    height: 150px;
    background-image: url(/img/web250x166.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 4;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/web600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.project-five {
    width: 250px;
    height: 150px;
    background-image: url(/img/spookydude250x167.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 5;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/spookydude600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.project-six {
    width: 250px;
    height: 150px;
    background-image: url(/img/devices250x167.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 6;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/devices600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}