.coding-examples-wrapper {
    background-image: linear-gradient(to top right, $light-blue, $dark-blue);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    @media screen and (min-width: $break-md) { 
        height: 120vh;
        width: 100vw;
    }
    @media screen and (min-width: $break-lg) { 
        height: 120vh;
        justify-content: center;
    }
    h1 {
        color: $nearly-white;
        width: 80%;
    }
}