.hero-wrapper {
        height: 100vh;
        width: auto;
        display: flex;
        justify-content: center;
}
.hero-img {
    background-image: url(/img/hero-cube-1800x1012.jpg);
    background-color: $dark-blue; //Used if the image is unavailable
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.hero-text {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $break-md) { 
        width: 40%;
    }
    .headings {
        padding-top: 10rem;
        color: $nearly-white;
        text-align: center;
        @media screen and (min-width: $break-md) { 
            padding-top: 4rem;
        }
    }
    .my-name {
        @media screen and (min-width: $break-xxs) { 
            font-size: 1.75rem;
            padding-bottom: 0.75rem;
        }
        @media screen and (min-width: $break-md) { 
            font-size: 3rem;
            margin-bottom: 3%;
            padding-bottom: 1rem;
        }
    }
    .web-dev {
        @media screen and (min-width: $break-xxs) { 
            font-size: 1rem;
        }
        @media screen and (min-width: $break-md) { 
            font-size: 2rem;
        }
    }
    .scroll-down {
        @media screen and (min-width: $break-xxs) { //Extra Small
            visibility: hidden;
        }
        @media screen and (min-width: $break-lg) { //large
            visibility: visible;
            text-decoration: none;
            margin-bottom: 5rem;
            justify-items: flex-end;
            .scroll-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 2;
                h2 {
                    color: $nearly-white;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
                i {
                    color: $nearly-white;
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}


//============================== INTERNET EXPLORER ONLY ==============================//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
    @media screen and (min-width: $break-xxs) { 
        .hero-text {
            top: 10%;
            left: 15%;
        }
    }
    @media screen and (min-width: $break-lg) { 
        .hero-text {
            top: 10%;
            left: 22%;
        }
    }
    @media screen and (min-width: $break-xxl) { 
        .hero-text {
            top: 6%;
            left: 17%;
        }
    }
}