.portfolio-wrapper {
    background-image: linear-gradient(to top right, $light-blue, $dark-blue);
    height: 170vh;
    width: 100vw;
    padding-top: 35px;
    @media screen and (min-width: $break-md) { 
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: $break-lg) { 
        padding: 0;
        height: 140vh;
        align-items: flex-start;
        padding-top: 10%;
        width: calc(100vw - 200px);
    }
    @media screen and (min-width: $break-xl) { 
        height: 200vh;
        padding-top: 5%;
        width: calc(100vw - 250px);
    }
    @media screen and (min-width: $break-xxl) { 
        height: 120vh;
        padding-top: 1rem;
        width: calc(100vw - 250px);
    }
}

.portfolio-cards-wrapper { //Main wrapper for the cards section, decides how sections of 3 cards are laid out
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 15px 0 15px;
    @media screen and (min-width: $break-md) { 
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $break-lg) { 
        padding: 0;
        justify-content: space-evenly;
    }
    @media screen and (min-width: $break-xl) { 
        padding-left: 5rem;
        padding-right: 5rem;
        width: 90%;
    }
    @media screen and (min-width: $break-xxl) { 
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }
    @media screen and (min-width: 1880px) { 
        width: 1500px;
    }
}