*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.page-wrapper {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    background: white;
    min-height: 90vh;
    width: 95vw;
    background: linear-gradient(to right bottom, rgba(255,255,255,.7), rgba(255,255,255,.3));
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 2rem;
    box-shadow: 2px 2px 5px 2px rgba(255,255,255,.7);
}

