*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.page-wrapper {
    display: flex;
}

main {
    //Extra Small
    @media screen and (min-width: $break-xs) {
        
    }
    @media screen and (min-width: $break-lg) { //large
        margin-left: 200px;
        width: calc(100% - 200px);
        display: flex;
        flex-direction: column;
    }   
    @media screen and (min-width: $break-xl) { //Extra large
        margin-left: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }   
}


@media screen and (min-width: $break-xs) { //Extra Small
    
}
@media screen and (min-width: $break-sm) { //Small
    
}
@media screen and (min-width: $break-md) { //Medium
    
}
@media screen and (min-width: $break-lg) { //large
    
}
@media screen and (min-width: $break-xl) { //Extra large
    
}