//========== COLOR VARIABLES ==========//

//========== FONT VARIABLES ===========//

//========== BREAKPOINT VARIABLES =====//
$break-xs: 300px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;