//========== COLOR VARIABLES ==========//
$dark-blue: #00112B;
$light-blue: #005189;
//DARK BLUE PALLETTE//
$light-grey-blue: #A6ABBD;
$dark-grey-blue: #727787;
$light-maroon: #583037;
$dark-maroon: #29030B;
//LIGHT BLUE PALLETTE// 

//========== FONT VARIABLES ===========//

//========== BREAKPOINT VARIABLES =====//
$break-xs: 300px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;