.cards-wrapper { //Main wrapper for the cards section, decides how sections of 3 cards are laid out
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media screen and (min-width: 518px) {
        height: 100vh;
    }
    @media screen and (min-width: $break-sm) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        height: 100vh;
    }
    @media screen and (min-width: $break-md) {
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 750px;
    }
    @media screen and (min-width: $break-lg) {
        flex-direction: column;
        height: 500px;
    }
    @media screen and (min-width: $break-xl) {
        height: 1100px;
        flex-direction: row;
    }
    @media screen and (min-width: $break-xxl) {
        height: 150vh;
    }
    @media screen and (min-width: 1800px) {
        height: 1000px;
        width: 1600px;
        margin: 0 auto;
    }
}
#projOne, //The main containers for each card
#projTwo,
#projThree,
#projFour,
#projFive,
#projSix {
    text-decoration: none;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.card-link { //The links that wrap each card, after the proj div.
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2 {
        color: $dark-blue;
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: center;
    }
    p {
        text-decoration: none;
    }
}

.card {
        height: 150px;
        margin: .25rem;
        border-radius: 1rem;
    @media screen and (min-width: $break-md) {
        margin: 1rem;
    }
    @media screen and (min-width: $break-lg) {
        border-radius: 2rem;
        margin: .75rem;
    }
    @media screen and (min-width: $break-xl) {
        border-radius: 2rem;
        margin: .75rem 0;
    }
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
        cursor: pointer;
        .overlay,
        p {
            visibility: visible;
            opacity: 1;
        }
    }
    .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50vw;
        @media screen and (min-width: $break-xxs) {
            width: 50vw;
            border-radius: 1rem;
            visibility: visible;
            background-color: rgba(211,211,211,.7);
            p {
                color: $dark-blue;
                text-align: center;
                padding: 1rem .25rem;
            }
        }
        @media screen and (min-width: $break-lg) {
            border-radius: 2rem;
            visibility: none;
            opacity: 0;
            transition: opacity 0.3s;
            background-color: rgba(211,211,211,.9);
            &:hover {
                visibility: visible;
                opacity: 1;
            }
            p {
                text-align: left;
                padding: 1rem;
            }
        }
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 750ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 750ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.html-css {
    width: 50vw;
    height: 150px;
    background-image: url(/img/homepage-reflection.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 1;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/homepage-reflection.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.axure {
    width: 250px;
    height: 150px;
    background-image: url(/img/desk250x141.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 2;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/desk700x394.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.project-three {
    width: 250px;
    height: 150px;
    background-image: url(/img/keyboard250x167.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 3;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/keyboard600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}

.project-four {
    width: 250px;
    height: 150px;
    background-image: url(/img/web250x166.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 4;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/web600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.project-five {
    width: 250px;
    height: 150px;
    background-image: url(/img/spookydude250x167.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 5;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/spookydude600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
.project-six {
    width: 250px;
    height: 150px;
    background-image: url(/img/devices250x167.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    order: 6;
    @media screen and (min-width: $break-xl) { 
        width: 450px;
        height: 300px;
        background-image: url(/img/devices600x400.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    &:hover {
        opacity: 80%;
    }
}
//============================== INTERNET EXPLORER ONLY ==============================//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
    @media screen and (min-width: $break-xxs) {
        .overlay {
            height: 50%;
            p {
                width: 250px;
            }
        }
    }
    @media screen and (min-width: $break-sm) {
        .cards-wrapper {
            width: 98vw;
            height: 70vh;
            justify-content: space-around;
        }
    }
    @media screen and (min-width: $break-md) { //Medium
        .cards-wrapper {
            width: 98vw;
        }
        .overlay {
            height: 50%;
            p {
                width: 250px;
            }
        }
    }
    @media screen and (min-width: $break-lg) { 
        .cards-wrapper {
            width: 790px;
        }
    }
    @media screen and (min-width: $break-xl) { 
        .cards-wrapper {
            width: 790px;
            height: 130vh;
            width: calc(100vw - 250px);
        }
    }
    @media screen and (min-width: $break-xxl) { 
        .cards-wrapper {
            width: 790px;
            height: 80vh;
            width: calc(100vw - 250px);
        }
    }
}